/* Footer.css */
.main-footer {
    background-color: #1A1A1A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}